.transicion-difuminado {
    transition: opacity 0.3s ease-in-out;
}
  /* Define estilos para el estado visible */
.ver {
    opacity: 1;
}

/* Define estilos para el estado oculto */
.no-ver {
    opacity: 0;
}

.col-marquee {
    width: 100%;
    overflow: hidden;
}

.marquee {
    animation: marquee 30s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
