body {
    background-color: rgb(0, 0, 0);
}

.HSA {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.bordeRedondeado {
    border-radius: 20px;
}

.turnoActual {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.imgCarrusel {
    border-radius: 10px;
    height: 135px;
    align-items: center;
}

.contenedor-body {
    height: 400px;
}