@font-face{
	font-family: 'personal';
	src: url('http://localhost/github/cartelera/carteleraHSA/fuentes/Montserrat-VariableFont_wght.ttf');
}

*{
	font-family: 'personal';

}

body {
    background-color: rgb(255, 253, 253);
}

.HSA {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.bordeRedondeado {
    border-radius: 20px;
}

.turnoActual {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
}

.imgCarrusel {
    border-radius: 10px;
    height: 250px;
    align-items: center;
}

.turnoActual {
    height: 250px;
}

.contenedor-body {
    height: 400px;
}
